.topic {
  margin: 10px 0 0;
  min-width: 400px;
  max-width: 800px;
  text-align: center;
  font-size: 32px;
  input {
    position: relative;
    top: -9px;
  }
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
}

.context-map {
  margin: 0 auto;
  width: 360px;
  height: 300px;
}

.show {
  border: 1px solid black;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border-radius: 10px;
}

.element {
  width: 118px;
  height: 130px;
  border: 1px solid black;
  float: left;
  padding: 10px 20px;
  margin: 10px 10px;
  border-radius: 10px;
}

.sub-elements {
  margin-top: 9px;
  margin-left: 10px;
}

.new-sub-element {
  margin-top: 9px;
  margin-left: 10px;
  width: 90px;
  height: 20px;
  
  span {
    visibility: hidden;
  }

  &:hover {
    cursor: pointer;
    span {
      visibility: visible;
    }
  }
}